.tilelist img {
	margin:5px;
	
}

ul#colorlist {
	position:absolute;
	left:500px;
	top:30px;
	border:1px solid #ccc;
	height:400px;
	overflow-y:scroll;
}

ul#layerlist {
	position:absolute;
	left:700px;
	top:150px;
	border:1px solid #ccc;
	height:250px;
	overflow-y:scroll;
}

div#flipping {
	position:absolute;
	left:700px;
	top:30px;
	border:1px solid #ccc;
}

ul#colorlist li, ul#layerlist li {
	padding:5px 5px 5px 50px;
	border-bottom:1px solid #ccc;
}

ul#colorlist li.selected, ul#layerlist li.selected {
	background:#ccf;
}


.dialog {
	position:absolute;
	left:50px;
	top:50px;
	border:2px solid black;
	padding:10px;
	background:white;

}

.dialog input.slider {
	width:255px;
	margin-bottom:15px;
}